@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.div-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background: #000000b3;
}
.spotify-logo{
    width: 150px;
}
.div-cadastro h2{
    color: white;
}
.init-svg{
    width: 30%;
}
.botão-cadastro{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: none;
    background: #1ed760;
    cursor: pointer;
    margin-bottom: 25px;
}
.seta{
    animation: seta 1s ease-out infinite; 
    width: 1%;
}
@keyframes seta{
    to{
        transform: translateY(30px);
    }
    
}

.botão-cadastro:hover{
    background: #1db954;
}
.div-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.back-login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1ed760;
    width: 300px;
    border-radius: 20px;
}
.div-login h2 , h3{
    text-align: center;
    color: white;
}
.login-content{
    justify-content: center;
    height: 280px;
    width: 250px;
    display: flex;
    flex-direction: column;
}
.login-content h2{
    font-weight: 700;
    margin-bottom: 15px;
}
.login-content h3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: start;
}
.div-login button{
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: #1db954;
    font-weight: 700;
}
.div-login button:hover{
    background-color: #188b41;
    color: white;
}
#botão-pular{
    display: flex;
    justify-content: end;
    background-color: #1db954;
    color: white;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
}
#botão-pular:hover{
    background-color: #188b41;
}
@media screen and (max-width:600px) {
    .seta{
        width: 4%;
    }
    .div-cadastro h2{
        font-size: 20px;
    }
    .init-svg{
        width: 90%;
    }
    #email{
        background-color: white;
        border: none;
    }
    #senha{
        background-color: white;
        border: none;
    }
}